*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
   min-width: fit-content;
   max-width: 50vw;
   padding: 30px;
}
form{
    padding: 20px;
}
form input{
    width: 23em;
    padding: 10px 20px;
}
.show{
    padding: 20px 20px;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
img{
    position: absolute;
    top: 40%;
    left: 30%;
}