*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
   min-width: fit-content;
   padding: 30px 10px;
   background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border: 1px solid rgba(255,255,255,0.18);
   box-shadow: 0 8px 0 rgba(0,0,0,0.37);
   border-radius: 10px;
}
.container>div{
    text-align: center;
}
form{
    padding: 20px;
}
form input{
    width: 23em;
    padding: 10px 20px;
    outline: none;
    border: 2px solid rgb(177, 205, 50);
}
.show{
    padding: 20px 20px;
    min-height: 45vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.show div{
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
}
img{
    width: 150px;
    filter: drop-shadow(20px 7px 5px rgba(255,255,255,0.4));
}
.show h5{
    position: absolute;
    bottom: 40px;
    right: -30px;
}
